.Hero
    height: 600px
    padding-top: 130px
    background: url(../../../img/home/hero/hero.jpg) no-repeat
    background-size: cover
    @media (min-width: 1200px)
        height: 800px
        
    h1
        font-family: "Permanent Marker"
        font-size: 40pt
        color: #EC645A
        text-align: center
        @media (min-width: 1200px)
            font-size: 80pt

    h2
        font-size: 16pt
        color: #EC645A
        text-align: center
        margin-top: 27px

        @media (min-width: 1200px)
            br
                display: none
