.Hero
    width: 100%
    height: 600px
    background: url("../../../img/hero/hero.jpg") no-repeat center center
    background-size: cover
    padding-top: 130px
    h1
        font-family: "flood-std"
        font-size: 40pt
        color: #EC645A
        text-align: center

    h2
        font-size: 16pt
        color: #EC645A
        text-align: center
        margin-top: 27px
